#loginBanner {
    padding: 0px;
}

#loginMessage {
    padding: 0px;
}

#fbLoginButton {
  margin-top: 10px;
  margin-left: calc(50% - 50px);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: white;
  font-size: 20px;
  background: #58D3F7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width:50px;
  cursor:pointer;
}

#fbLoginButton:hover {
  background: #0091ff;
  text-decoration: none;
}
