/*
	COLOR SCHEME
		Use these colors and these colors only for the whole project.	
*/

.color-primary-0 { color: #5FBAFF }	/* Main Primary color */ 
.color-primary-1 { color: #BBE1FF }
.color-primary-2 { color: #88CBFF }
.color-primary-3 { color: #36A8FF }
.color-primary-4 { color: #0E94FB }


html, body {
    margin: 0;
    padding: 0;
}

.header{
	position:relative;
	height:70px;
	background-color:  white;
}

.bannerDivider{
	position: relative;
	height:100px;
	width: auto;
	left: 210px;
	background-color: #5FBAFF;
	border-width: 0px;
	border-bottom: 5px;
	border-style: solid;
	border-color: #5FBAFF;
}

.menu{
	position:absolute;
	top:0px;
	left: 210px;
	height:inherit;
	top: 20px;
	width: 800px;
	background-color: #BBE1FF;
	border-width: 0px;
	border-left: 5px;
	border-top: 5px;
	border-right: 5px;
	border-style: solid;
	border-color: #5FBAFF;
}

.buttonSpacer1, .buttonSpacer2, .buttonSpacer3, .buttonSpacer4{
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: white;
	margin-left: 15px;
	margin-top: 10px;
	margin-right: 5px;
	border-width: 0px;
	border-top-width: 10px;
	border-style: solid;
	border-color: #e47c1e;
}

.buttonSpacer2{
	left: 60px;
}

.buttonSpacer3{
	left: 120px;
}

.buttonSpacer4{
	left: 180px;
}

#banner{
	position:relative;
	height: 64px;
	width: 184px;
 	background-image: url("../assets/logo_low.png");
    background-repeat: no-repeat;
	margin-left: 10px;
	top: 5px;
}

#loginbanner{
	height: 348px;
    width: 1000px;
    background-image: url("../assets/logo_med.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content{
	position:absolute;
	width:100%;
	height:100%;
	background-color: black;
}

.postArea{
	position:absolute;
	width: 80%;
	height: inherit;
	background-color: white;
}

.chatArea{
	position: fixed;
	top:0px;
	width: 20%;
	height:100%;
	right:0px;
	background-color: white;
	border-width: 0px;
	border-left: 1px;
	border-style: solid;
	border-color:#5FBAFF ;
	overflow: scroll;
	word-wrap: break-word;
	
}

.chatHeader{
	position: relative;
	line-height: 1px;
	border-width: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color:#5FBAFF;
}

h1, p, h3, h2{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
	font-size: 36px;
	text-align: center;
	color: #0E94FB;
}

h2{
	font-size: 24px;
	text-align: center;
	color: #36A8FF ;
}

body{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 14px;
}

#userName{
	color: #e47c1e;
	font-weight: bold;
	margin-left: 30px;
}

#message{
	margin-left: 14px;
	margin-right: 14px;
	border-width: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: #BBE1FF;
}

.fb-button{
	position: relative;
	width: 210px;
	height: 50px;
	line-height: 50px;
	background-color: #3b5998;
	color: white;
	text-align: center;
	vertical-align: middle;
	margin-left: 50%;
	margin-right: 50%;
	right: 105px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 20px;
	cursor: pointer;
}

.postSpacer{
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 5px;
	border-width: 1px;
	background-color: #EBF6FF;
	border-style: solid;
	border-color: #5FBAFF;
}

#postTitle{
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #0E94FB;
	font-size: 20px;
	font-weight: bold; 
	text-decoration: none;
}

#postMisc{
	margin-left: 30px;
	display: inline;
}

#postAuthor{
	color: #e47c1e;

	display: inline;
}

#postDate{
	font-size: 12px;
	display: inline;
}

.postOptions{
	position: absolute;
}

.postListArea{
	position: relative;
	margin-left: 210px;
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #5FBAFF;
}

.postList{
	position: relative;
	top: 15px;
}

.singlePostInfo{
	font-size:32px;
}

.singlePostContent{
	font-size: 18px;
	background-color: #EBF6FF;
	margin-left: 15px;
	margin-right: 15px;
	border-width: 5px;
	border-style: solid;
	border-color: #5FBAFF;
}


.submitNewPostButton{
	position:  absolute;
	margin-top: 15px;
	margin-left: 27px;
	width: 150px;
	height: 40px;
	background-color: #e47c1e;
	color: white;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	text-decoration:none;
}


    .myButton {
	-moz-box-shadow:inset 0px 0px 17px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 0px 17px 0px #54a3f7;
	box-shadow:inset 0px 0px 17px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	border:1px solid #2391db;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:5px 8px;
	text-decoration:none;
	text-shadow:0px 0px 0px #154682;
  width: 150px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.myButton:active {
	position:relative;
	top:1px;
}