
.postElement:hover{
  margin-left: 10px;
  background-color: #fff0e5;
  transition:  .2s ease-in-out;
}

.postElement{
  position: relative;
  margin: 5px;
  border: solid 1px lightgray;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  width: calc(100% - 180px);
}

#postPicture{
  position: relative;
  top: 17px;
  margin-left: 5px;
  max-width: 50px;
  max-height: 50px;
  display: inline;
}

#postAuthor{
  color: orangered;
}

#postAuthor:hover, #postTitle:hover{
  text-decoration: underline;
  cursor: pointer;
}

#postAuthor, #postDate{
  font-size: 12px;
  display: inline;
}

#postTitle{
  position: relative;
  color: orangered;
  font-weight:bold;
  font-size: 20px;
}

#postContent{
  background: linear-gradient(white, #f2f2f2);
  padding: 10px;
}
