.profPic img{
	width: 100px;
	text-align: justify;
	left: 35%;
	padding-top: 10px;
}

.picContainer{
	padding-top: 10px;
}

.userInfo {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	display: block;
    margin: 0 auto;
}

button {
	text-transform: uppercase;
	width: 50px;
	height: 20px;
}

body {
	text-align: center;
}