/* Styling for when user clicks on a post. */
.singlePostContainer:hover{
  margin-left: 10px;
  background-color: #ccecff;
  transition:  .2s ease-in-out;
}

.singlePostContainer{
  position: relative;
  margin: 5px;
  border: solid 1px lightgray;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  width: calc(100% - 180px);
}

#singlePostPicture{
  position: relative;
  top: 17px;
  margin-left: 5px;
  max-width: 50px;
  max-height: 50px;
  display: inline;
}

#singlePostAuthor:hover, #singlePostAuthor:hover{
  text-decoration: underline;
  cursor: pointer;
}

#singlePostAuthor, #singlePostDate{
  font-size: 12px;
  display: inline;
}

#singlePostTitle{
  position: relative;
  font-weight:bold;
  font-size: 20px;
}

#singlePostContent{
  background: linear-gradient(white, #e5f5ff);
  padding: 10px;
}
