/* Styling for when user clicks on a post. */

.newCommentForm{
  width: 505px;
  margin-left: 140px;
  border: solid lightgray 1px;
  border-radius: 10px;
  padding: 20px;
}

#commentTextBox{
  width: 500px;
  height:  100px;
  line-height: 13px;
  padding: 0px;
}
/*
#commentTextBox:focus{
  height: 200px;
  transition: .2s ease-in-out;

}
*/
#commentSend{
  margin-top: 10px;
  margin-left: 450px;
}


.commentElement{
    margin: 10px;
    overflow: auto;
}

.commentInfo{
  font-size: 13px;
  border: solid lightgray 1px;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  width: calc(100% - 80px);
  float: right;
}

#commentPicture{
  display: inline-block;
  position: relative;
  height: inherit;
  
}

#commentDate{
  display: inline;
}
