<!DOCTYPE html>
<html ng-app="HomeApp">
<head>
    <meta charset="utf-8">
    <title>Chill</title>
    <link rel="stylesheet" type="text/css" href="css/homestyle.css"></head>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>   
    <script src="js/homeApp.js"></script>
    <script src="modules/posts/js/controllers.js"></script>
    <script src="modules/posts/js/directives.js"></script>
    <script src="modules/posts/js/postsModule.js"></script>
    <script src="modules/profiles/profileController.js"></script>
    <script src="modules/profiles/profileModule.js"></script>
    <script src="modules/profiles/directives.js"></script>
    <!--<script src="modules/profiles/js/app.js"></script>-->
    <script src="js/firebaseStuff.js"></script>    


</head>
<body>

    <!-- Posts Posts Posts Posts--
    <div ng-controller="userPostsController"> 
        <form name="postArea" novalidate>
            Type your post here:
            <input  type="text" name="postBox" ng-model="post.content" ng-required="true" ng-maxlength="10"/>
            <span class="error-message" ng-show="postArea.postBox.$dirty && postArea.postBox.$error.required">Mandatory Field</span>     
            <span class="error-message" ng-show="postArea.postBox.$dirty && postArea.postBox.$error.maxlength">Maximum of 10 characters</span>

        </form>
        <button><a href="#"  ng-click="addPost()">Post</a> </button>
        <h1> {{post.newPostContent}} </h1>
        
    </div> -->
    <!--
    <div class="container">
    	<div ng-controller="ProfileController">
            <div class="picContainer"style="text-align: center">
                <img class="profPic" src="pictures/sujay.jpg" height="200" width="200">
            </div>
            <div class="userInfo">
                <h3 id="name">Sujay Khandekar</h3>
                <h3>Location: UIUC</h3>
                <h3>Rating: 5/5</h3>
            </div>
            <button id="editBtn" type="button medium-btn">Edit</button>
        </div>     
    </div>
-->
<div class="banner"></div>
<h1>Posts</h1>
<div ng-controller="PostCtrl">
    <p>
        <div class="postList" ng-repeat="post in userPosts">
            <!-- Can't get the image to show up
            <img class = "profilePic" src= "http://graph.facebook.com/"{{post.facebookID}}"/picture" width="50" height="50">
            -->
            <b>
            {{post.author}} :
            </b>
            {{post.content}}
        </div>
            <form ng-submit="addPost()">
                <input type="text" ng-model="post">
                <input type="submit" value="Create Post">
            </form> 
        </p>
    </div> 



</body>
</html>   
