<!DOCTYPE html>
<html ng-app="IMapp">
<head>
    <meta charset="utf-8">
    <title>Interest Matcher</title>
        
    <script src="js/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>   
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/app.js"></script>
    <script src="modules/posts/js/controllers.js"></script>
    <script src="modules/posts/js/directives.js"></script>
    <script src="modules/posts/js/postsModule.js"></script>
    <script src="modules/profiles/profileController.js"></script>
    <script src="modules/profiles/profileModule.js"></script>
    <script src="modules/profiles/directives.js"></script>
    


</head>
<body>
    
    <!-- Posts Posts Posts Posts-->
<div ng-controller="PostController"> 
    <form name="postArea" novalidate>
    Type your post here:
        <input  type="text" name="postBox" ng-model="post.content" ng-required="true" ng-maxlength="10"/>
            <span class="error-message" ng-show="postArea.postBox.$dirty && postArea.postBox.$error.required">Mandatory Field</span>     
            <span class="error-message" ng-show="postArea.postBox.$dirty && postArea.postBox.$error.maxlength">Maximum of 10 characters</span>

    </form>
    <button><a href="#"  ng-click="">Post</a> </button>
    <h1> {{post.content}} </h1>
    <!-- Refer to model as post.content NOT $scope.post.content-->
</div>
<button>
    <a href="userAccount.html">View Profile</a>
</button>    
    
</body>
</html>   
