
<div id="newPostHeader">
    <h1>Create a New Post</h1>
    <h2>Share your idea, challenge, worries...</h2>
</div>


<form class="newPostForm" ng-submit="addPost()">

	<h2>Title</h2>
	<div id="newPostTitleContainer">
    	<textarea id="newPostTitleBox" rows="1" cols="50" name="usrtxt" wrap="hard" ng-model="title"></textarea>
    </div>

    <h2>Text</h2>
    <div id="newPostTextContainer">
    	<textarea id="newPostTextBox" rows="5" cols="50" name="usrtxt" wrap="hard" ng-model="content" id="commentTextBox"></textarea>
    </div>

    <input type="submit" value="Send" id="newPostSubmitButton">

</form>