<div id="container">
    <div id="bg" class="bg">
    </div>
    <div class="loginJumbotron">
        <div id="logoBanner">

        </div>
        <img id="loginBanner" align="center" src="../assets/logo_low.png"></img>
        <h2 id="loginMessage" align="center">Post about or find events near you that match your interests</h2>

        <div ng-controller="LoginController">
            <div class="btn" ng-click="authFB()" id="fbLoginButton" align="center">Login</div>
        </div>
    </div>
</div>
