<div>
	<div class="postElement">
		<div id="postPicture">
	        <img src="http://graph.facebook.com/{{singlePost.authorID}}/picture?type=normal"
	        	 alt="Image not found" onError="this.src='http://40.media.tumblr.com/gWpDRTzE5o5evhxyQMEpPfaro1_100.png';"/>
	    </div>

	    <div class="postInfo">

	        <div id="postTitle">{{singlePost.title}}</div>
	        <div id="postDate">Posted on {{singlePost.date | date:'medium'}} by </div>
	        <div id="postAuthor">{{singlePost.author}}</div>
	    	<div id="postContent">{{singlePost.content}}</div>

	    </div>
    </div>

    <div class="createCommentContainer">

		<form class="newCommentForm" ng-submit="addComment()">
		    <div>Write a new comment here:</div>
            <textarea rows="5" cols="40" name="usrtxt" wrap="hard" ng-model="content" id="commentTextBox"></textarea>
            <input type="submit" value="Send" id="commentSend">
		</form>

    </div>

    <div class="commentsContainer">

		<div ng-repeat="comment in comments | orderBy:'date':true">

			<div class="commentElement">

				<div id="commentPicture">
				    <img src="http://graph.facebook.com/{{comment.authorID}}/picture?type=square"
				    	 alt="Image not found" onError="this.src='http://40.media.tumblr.com/gWpDRTzE5o5evhxyQMEpPfaro1_100.png';"/>
				</div>

			    <div class="commentInfo">
			    	<div id="postAuthor">{{comment.author}}</div>
					<div id="commentDate"> said on {{comment.date | date:'medium'}}</div>
			    	<div id="commentContent">{{comment.content}}</div>
			    </div>

		    </div>
		</div>
    </div>
</div>
