
<div ng-controller="PostController">

    <div ng-repeat="post in posts">
        <div class="postSpacer">
            <div id="postTitle">{{post.title}}</div>
            <div id="postAuthor">{{post.author}}</div>
            <div id="postDate">{{post.date}}</div>
            
            
            <a ui-sref="singlePost({id:post.id, permalink:post.permalink})"> {{post.title}} </a>    
        </div>
    </div>
    
     <form ng-submit="addPost()">
        <input type="text" ng-model="content">
        <input type="submit" value="Send">
     </form>
</div>