
<div class="header">
    <div id="banner"></div>
    
    <div class="menu">
        <div class="buttonSpacer"></div>
        <div class="buttonSpacer"></div>
        <div class="buttonSpacer"></div>
        <div class="buttonSpacer"></div>
    </div>

</div>

<div class="content">
    <div class="postArea"></div>


    <div class="chatArea" ng-controller="PostCtrl">
        <div class="chatHeader"><h1>Public Chat</h1></div>
        
        <div class="chatSpacer"></div>

        <div>
            <div="postList" ng-repeat="post in userPosts">
                <div id="userName">{{post.author}}</div>
                <div id="message">{{post.content}}</div>
            </div>

            <form ng-submit="addPost()">
                <input type="text" ng-model="post">
                <input type="submit" value="Send">
            </form>
        </div>

    </div>
</div>